.image-1-icon1 {
  position: relative;
  width: 152px;
  height: 87px;
  object-fit: cover;
}
.se {
  margin: 0;
  position: relative;
  font-size: inherit;
  line-height: 100%;
  font-weight: 400;
  font-family: inherit;
}
.head,
.image-1-parent {
  display: flex;
  align-items: center;
}
.image-1-parent {
  flex-direction: row;
  justify-content: flex-start;
  gap: var(--gap-smi);
}
.head {
  border-bottom: 1px solid var(--color-black);
  box-sizing: border-box;
  width: 291px;
  overflow: hidden;
  flex-direction: column;
  justify-content: center;
  padding: var(--padding-6xl) var(--padding-3xs);
  z-index: 0;
}
.search-textbox,
.search1 {
  position: relative;
  flex-shrink: 0;
}
.search1 {
  line-height: 170%;
  font-weight: 600;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 239px;
  height: 39px;
  -webkit-text-stroke: 0.8px #c2c2c2;
}
.search-textbox {
  border: 0;
  background-color: var(--color-primary);
  border-radius: var(--br-3xs);
  width: 244px;
  height: 43px;
  overflow: hidden;
}
.search,
.search-parent {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.search {
  width: 244px;
  height: 91px;
  justify-content: flex-start;
  gap: var(--gap-4xs);
}
.search-parent {
  justify-content: center;
  gap: var(--gap-20xl);
  z-index: 1;
  text-align: center;
  font-size: var(--font-size-5xl);
  color: var(--color-black);
}
.svgrepo-iconcarrier {
  position: absolute;
  height: 83.2%;
  width: 83.2%;
  top: 8.4%;
  right: 8.4%;
  bottom: 8.4%;
  left: 8.4%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.backbutton,
.sidebar2 {
  margin: 0 !important;
  position: absolute;
  overflow: hidden;
}
.backbutton {
  cursor: pointer;
  border: 0;
  padding: 0;
  background-color: transparent;
  bottom: 17.5px;
  left: 23.5px;
  width: 50px;
  height: 50px;
  flex-shrink: 0;
  z-index: 2;
}
.sidebar2 {
  top: 2.5px;
  left: 0;
  background-color: var(--color-silver-200);
  border: 2px solid var(--color-gray-500);
  box-sizing: border-box;
  height: 1021px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  gap: var(--gap-lg);
  z-index: 1;
  text-align: left;
  font-size: var(--font-size-45xl);
  color: var(--color-dimgray-200);
  font-family: var(--font-inter);
}
